* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery__pic {
  width: 420px;
  height: 100%;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
